/**
*  These are initial styles for the Canteen admin pages
*  feel free to completely discard or modify
*/
.formContainer {
	border-radius:10px;
	border:2px solid #ddd;
	background:#eee;
	margin:0 auto 20px;
}
.formContainer form{
	padding:30px;
	border-radius:10px;
}
.loginForm {
	width:400px;
}

.adminNav {
	float:left;
	width:25%;
	margin-bottom:20px;
}
.adminContent {
	float:left;
	width:75%;
}

.adminNav ul {
	list-style:none;
	padding:10px;
	margin:0 20px 0 0;
	background-color:#2a9bca;
	border:1px solid #0b446c;
	border-bottom-width:2px;
	border-radius:8px;
}
.adminNav a {
	text-decoration:none;
	display:block;
	color:#fff;
	padding:5px;
	border-radius:4px;
	margin:2px 0;
	border-top:1px solid #2a9bca;
	border-bottom:1px solid #2a9bca;
	overflow:hidden;
}
.adminNav a.selected,
.adminNav a:hover {
	background-color:#0b446c;
	border-top-color:rgb(8, 40, 63);
	border-bottom-color:rgb(144, 190, 223);
}
.adminHeader {
	text-align:right;
	padding:0 10px 10px;
	float:right;
	margin-top:-45px;
}
a.adminBack {
	display:block;
	margin-bottom:20px;
	font-size:120%;
}

form textarea {
	min-height:100px;
}

form textarea.large {
	min-height:300px;
}

form .date,
form textarea,
form select,
form .password,
form .text {
	color:#333;
	font-size:120%;
	padding:7px;
	border:1px solid #bbb;
	border-top-width:2px;
	width:70%;
	margin-bottom:5px;
	background:#fff;
	border-radius:5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	outline:none;
}

form select {
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:center right;
}

#content .button,
form input.submit, 
form input.clear {
	font-size:110%;
	padding:8px 30px;
	cursor:pointer;
	background-color:#2a9bca;
	color:#fff !important;
	border:1px solid #0b446c;
	border-bottom-width:2px;
	text-decoration:none;
	margin:0 2px;
	border-radius:5px;
}

#content .button.small,
.submit.small,
.clear.small{
	font-size:100%;
	padding:6px 20px;
}

#content .button:hover,
form input.submit:hover,
form input.clear:hover {
	background-color:#ae2a48;
	border-color:#751a2d;
}

form textarea.disabled,
#content .button.disabled,
form input.submit.disabled, 
form input.clear.disabled{	
	color:#4a5e62 !important;
	background-color:#b7bfc0 !important;
	border-color:#5d747e !important;
	cursor:default;
}

form textarea:hover,
form select:hover,
form .password:hover,
form .text:hover,
form .select:hover,
input.over {
	background-color:#ffc;
}
form input.error {
	color:#4f1111;
	background-color:#ff7575 !important;
	border-color:#4f1111 !important;
}
form input.disabled {
	color:#4a5e62 !important;
	background-color:#b7bfc0 !important;
	border-color:#5d747e !important;
	cursor:default;
}
.optional {
	background-color:#eee;
}
legend {
	margin-bottom:20px;
	text-align:center;
	font-size:120%;
	color:#04A4D6;
}
.formRow {
	min-height:35px;
}
.formRow label {
	float:left;
	display:block;
	width:30%;
	padding-top:6px;
	color:#999;
	font-size:16px;
}
.formButtons {
	padding:10px 10px 0;
	text-align:center;
}

.forgotError,
.forgotSuccess,
.tempPassword {
	text-align:center;
}

.tempPassword {
	font-size:140%;
	font-weight:bold;
}

.forgotError {
	color:#c00;
	font-weight:bold;
}

.forgotError,
.forgotSuccess {
	padding-top:20px;
}
.loginForm .forgot {
	padding-top:10px;
}
.loginForm .forgot,
.loginForm .remember {
	text-align:center;
	font-size:90%;
}

.formRow {
	margin-bottom:5px;
}

ul.formError,
ul.formError a {
    color:#c00 !important;
}
ul.formError a,
ul.formSuccess a {
	font-weight:bold;
}
ul.formSuccess,
ul.formSuccess a {
    color:#06c !important;
}
ul.formError,
ul.formSuccess {
	padding: 0 0 0 20px;
	margin:0 0 20px;
	font-weight:700;
	line-height:120%;
	list-style:disc;
}

table {
	width:100%;
	background:#fff;
	border:1px solid #999;
	border-radius:5px;
	margin-bottom:15px;
}
tfoot td,
th {
	background-color:#ccc;
	color:#999;
	padding:4px;
	border-bottom:1px solid #999;
}
tfoot td {
	text-align:center;
}
tfoot td a {
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
tfoot td a:hover {
	text-decoration:none;
}
th span {
	display:none;
}
tbody tr td {
	padding:4px;
	border-bottom:1px solid #ccc;
	color:#666;
}
tbody tr:last-child td{
	border-color:#999;
}
tbody tr:nth-child(2n) td {
	background-color:#eee;
}
tbody tr:nth-child(2n+1) td {
	background-color:#fff;
}
tbody tr.over td {
	background-color:#fffdbe;
}
tbody tr.selected td {
	background-color:#ffdbab;
}
tbody tr.selected.over td {
	background-color:#fcdfb9;
}

.configUpdate form:not(:first-child){
	border:0;
}

.configUpdate ul.formError, 
.configUpdate ul.formSuccess {
	margin-bottom:10px;
}
.configUpdate form {
	padding:10px;
	margin:0;
}
.configUpdate .formRow {
	margin-bottom:0;
}
.configUpdate label,
.configUpdate .text,
.configUpdate .submit,
.configUpdate .button {
	float:left;
	margin:0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.configUpdate .text{
	width:45%;
	font-size:100%;
	overflow:hidden;
}
.configUpdate label {
	width:30%;
	
}
.configUpdate .submit,
.configUpdate .button {
	width:11%;
	padding:8px 0 !important;
	margin:0 0 0 1% !important;
	font-size:100% !important;
}

/** For 0px - 599px */
@media all and (max-width : 599px) {
	.adminNav,
	.adminContent  {
		float:none;
		width:100%;
	}
	.adminNav ul {
		margin:0;
		padding:5px;
		line-height:1;
	}
	.adminNav ul li {
		display:inline-block;
		width:50%;
	}
	.adminHeader {
		float:none;
		margin:0;
		text-align:center;
	}
	.adminNav a {
		text-align:center;
		margin:0 2px;
	}
	
	.formContainer form {
		padding:20px;
	}
	
	.configUpdate form {
		padding:5px 10px;
	}
	
	.formRow label {
		font-size:14px;
	}
}